
<div id="filters">
  <div class="filter mt-3">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic cities</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pools</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Igloo</p>
  </div>
  <div class="filter mt-3">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
  </div>
  <div class="filter mt-3">
    <i class="fa-solid fa-ellipsis"></i>
    <p>Other</p>
  </div>
</div>