<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img
        src="https://res.cloudinary.com/dezmsqzsw/image/upload/v1724145145/logo_jch7re.png"
        alt="logo"
        width="60"
        height="50"
      />&nbsp;
      <img
      src="https://res.cloudinary.com/dezmsqzsw/image/upload/v1724145130/wonderstay_pu7z68.png"
      alt="logo"
      width="140"
      height="44"
    />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings" method="get">
          <input
            class="form-control me-2 search-input"
            name="country"
            type="search"
            placeholder="Search country"
            aria-label="Search"
          />
          <button class="btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new"> Your Home </a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup">Sign up</a>
        <a class="nav-link" href="/login">Login</a>
        <% } %> <% if(currUser) {%>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>